<!DOCTYPE html>
<html>
  <head>
    <title>Cinephile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cinephile</h1>
    <nav>
      <a href="/">Main</a>
      <a href="/show">Watch Lists</a>
      <a href="/search">Search Films</a>
        <% if (user) { %>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Login</a>
        <% } %>
    </nav>