<!DOCTYPE html>
<html>
  <head>
    <title>Cinephile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cinephile</h1>
    <nav>
      <a href="/">Main</a>
      <a href="/show">Watch Lists</a>
      <a href="/search">Search Films</a>
      <a href="/users">Account</a>
    </nav>