<%- include("./partials/head") %>

    <h3>search results</h3>
        <div id="results">
        <% for(i of data) {  %>
            <% let year = new Date(i.release_date) %>
        <div><a href="/show/<%=i.id%>"><%= i.original_title %> (<%=year.getFullYear()%>)</a></div>
        <% } %>
    </div>
</body>
</html>