<%- include("./partials/head") %>

    <h3>search films</h3>



    <div>create entry</div>
    <form method="GET" action="/search/create">
        <input type="text" name="title">
        <button type="submit">Sub</button>

    </form>
</body>
</html>