<%- include("./partials/head") %>

<h3>search films</h3>
<main>
    <div class="search">Search film database</div>
    <form class="form" method="GET" action="/search/create">
        <input type="text" name="title">
        <button type="submit" class="submit">+</button>
    </form>
</main>
</body>
</html>